*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

body{

    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 2fr 1fr;
}

/* Explicando o body:

-Estamos definindo a configuração geral do corpo do nosso código;
-Definimos uma coluna no grid e 3 linhas que são,respectivamente, o header, o main e o footer do site. */

/* >>> AQUI COMEÇA O HEADER >>> */

header{
    width: 100%;
    height: 100%;
    display: flex;
    grid-row: 1/2;
    background-color: #369FFF;
    flex-direction: column;
    justify-content: center;
}

/* Explicando o header:

- Definimos os tamanhos;
- Delimitamos o header dentro do nosso grid, portanto ele ocupará a primeira linha e toda a coluna;
-Definimos a cor de fundo do nosso header;
-Assim como as formatações.*/

.logo{
    
    width: 20%;
    margin-left: 2%;
}

/* Explicando o logo:

- Definimos o comprimento da logo;
- Definimos um espaçamento entre a logo e a borda inicial do site. */

.texto-logo{

    color:white;
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 2%;
    margin-top: 0.5%;

    
}

/* Explicando o texto-logo:

- Definimos a cor do nosso texto, seu tamanho, a fonte;
- Definimos também  um espaçamento entre o texto e a borda inicial do site. */

.navegation{
    width: 100%;
    height: 25%;
    margin-top: 2%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

/* Explicando o navegation:

- Construimos uma divisão dentro do nosso header para enfileirar as ferramentas de navegação do nosso site;
- Definimos os tamanhos da nossa div;
-  Definimos também  um espaçamento entre nossa div e os elementos acima. */

.botao{
    margin-bottom: 0.5% ;
    width: 15%;
    background-color: #369FFF;
    border: 2% solid #369FFF;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
}

/* Explicando o botao:

- Definimos uma margem entre o botão e a borda inferior da div;
- Estilizamos: a cor do fundo, o alinhamento dos itens, a interação com o cursor e todas as estilizações do texto; */

.botao:hover{
    background-color: aliceblue;
    border: 2% solid aliceblue;
    color: black;
}

/* Explicando o hover do botão:

- Utilizamos o hover para definir o comportamento do botão quando o cursor passa por cima dele;
- Definimos mudanças na cor do texto, do background e da borda.*/

.pesquisa{
    width: 40%;
    background-color: white;
    border: 5px solid white;
    border-radius: 15px;
    margin: 1vh;
    color: #B766BE;
    padding-left: 1%;
}

.pesquisa::placeholder{

    color: #B766BE;
}

/* Explicando a caixa de pesquisa:

- Definimos seu comprimento;
- Sua cor de fundo e cor texto.*/

.link-perfil{
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-bottom: 0.5%;
}

/* Explicando o botão do perfil:

- Definimos o tamanho do botão;
- Seu alinhamento e interação com o cursor.*/

.perfil{
    width: 20%;
}

/* Explicando perfil:

- Definimos o tamanho da imagem do perfil.*/

.navegationAlternativa{

    display: none;
}

/* Explicando o navegation Alternativo:

-É o meio de navegação de telas menores.*/


/* >>> AQUI TERMINA O HEADER >>> */


/* >>> AQUI COMEÇA O MAIN >>> */

main{
    grid-column: 1/2;
    grid-row: 2/3;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Explicando o main:

- Definimos sua posição no grid, seu tamanho e posição.*/

.receitas{

    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    flex-direction: column;
    width: 50%;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
    margin-bottom: 2%;
    height: 100%;
}

/* Explicando receitas:

- É o bloco que contém o título e o box de inscrição;
- Alinhamento, margens e tamanhos foram definidos.*/

.boxInform{

    display: flex;
    flex-direction: row;
    background-color: #b766bea0;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    padding: 2%;
    color: black;
    margin-top: 2%;
    margin-bottom: 2%;
    border-radius: 15px;
    height: 100%;

}

/* Explicando boxInform:

- É a div com a explicação da inscrição e o botão;
- Cor do texto, preenchimento, alinhamento, borda e cor de fundo definidos.*/

.visitarReceitas{

    width: 50%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    
}

/* Explicando visitarReceitas:

- É a div que contém o botão de inscrição.*/

.textoInform{

    width: 50%;

}

/* Explicando textoInform:

- É a div que contém o texto do box de inscrição.*/

.btVisitarReceitas{

    background-color: #53005b;
    color: white;
    border: 10px solid #53005b;
    border-radius: 15px;
    font-size: 15px;
}

.btVisitarReceitas:hover{

    background-color: #369FFF;
    border: 10px solid #369FFF;
    color: black;
}

/* Explicando btVisitarReceitas:

- É o botão de inscrição.*/

.ultimasMat{

    display: flex;
    flex-direction: column;
    width: 50%;
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
}

/* Explicando ultimasMat:

- É a div que contém tudo das matérias.*/

.materias{

    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 5%;
    justify-content: center;
    height: 100%;
}

/* Explicando materias:

- É a div que reúne as seções das matérias.*/

.materiaBox{

    width: 30%;
    text-align: start;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2%;
    height: 80%;
}

/* Explicando materiaBox: 

- É a div de seção das matérias.*/

.imgMateria{

    width: 70%;
    clip-path: circle(50%);
    margin-bottom: 7%;
}

/* Explicando imgMateria:

- É a imagem exposta na matéria.*/

.tituloMat{

    margin-bottom: 5%;
}

/*Explicando tituloMat:

- É o título em negrito no box de cada matéria.*/

.linkMat{

    text-decoration: none;
    color: black;
}

.linkMat::after{

    color: black;
}

/* >>> AQUI TERMINA O MAIN >>> */

/* >>> AQUI COMEÇA O FOOTER >>> */


footer{
    grid-column: 1/2;
    grid-row: 3/4;
    height: 100%;
    width: 100%;
    background-color: #369FFF;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/* Explicando footer:

- Definimos a altura e comprimento que ele deve ter;
- Seu posicionamento absoluto no fim da página;
- As cores do fundo e das letras;
- Utilizamos flex para alinharmos tudo
*/

.blocoUm{    
    
    height:50%;
    width: 99%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 1%;
    
}


/* Explicando blocoUm:

- Definimos a altura e comprimento que ele deve ter;
- Seu posicionamento absoluto dentro do footer;
- Utilizamos flex para alinharmos tudo.
*/

.secao{

    margin-top: 1%;
    margin-bottom: 1%;
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Explicando a secao:

- Definimos a altura e comprimento que ele deve ter;
- Utilizamos flex para alinharmos tudo;
- Demos uma margem do blocoUm.
*/

.link{

    color: white;
}

/* Explicando link: 

- Definimos a cor dos links que estão na secao.*/

.link:hover{

    text-decoration: underline;
}

/* Explicando link (hover):

- Definimos o comportamento do link quando o cursor passar por cima.

*/

.blocoDois{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: #348cdf;
    height: 50%;
}

/* Explicando a secao:

- Definimos a altura e comprimento que ele deve ter;
- Seu posicionamento absoluto no blocoUm;
- As cores do fundo;
- Utilizamos flex para alinharmos tudo;
*/

.instagram{

    width: 10%;
}

/* Explicando instagram:

- Definimos o comprimento que será ocupado pelo link do instagram.*/

.redeSocial{

    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Explicando o redeSocial:

- Definimos o espaço que o link ocupará do link;
- Alinhamos tudo;*/

.link{

    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

/* Explicando o redeSocial:

- Definimos o espaço que o link ocupará do blocoDois;
- Alinhamos tudo;*/

.logoFrase{

    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Explicando logoFrase: 

- Definimos o espaço ocupado dentro do blocoDois;
- Alinhamos tudo usando flex.*/

#scookFooter{

    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Explicando scookFooter:

- Definimos o espaço ocupado dentro do logoFrase;
- Alinhamos tudo.*/

/*<<< AQUI ACABA O FOOTER */


@media screen and (max-width:500px){

/* Responsividade aplicada para telas de celulares */

    body{
    
        width: 100%;
        height: 100vh;
        grid-template-rows: 1fr 2fr 0.5fr;
    }

/* HEADER */
    
    header{
    
        grid-row: 1/2;
        width: 100%;
        height: 100%;
        background-color: #369FFF;
        display: flex;
        flex-direction: column;
        align-items: center;
    
    }
    
    .texto-logo{
    
        font-size: 13px;
        margin-top: 1% ;
    }
    
    
    .navegation{
    
        display: none;
        flex-direction: column;
        height: 100%;
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    
    .navegationAlternativa{
    
        display: block;
        width: 100%;
        background-color: #369FFF;
        border: none;
        color: white;
        margin-top: 3%;
    }
    
    .alinhamentoMenu{
    
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-top: 1%;
        padding-bottom: 3%;
    
    }
    
    .botaoCel{
    
        background-color: #369FFF;
        border: none;
        color: white;
        font-size: 25px;
        font-weight: bolder;
    
    }
    
    .menu{
    
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        
    }
    
    .linkCel{
    
        width: 5%;
        margin-right: 2%;
    }

/* HEADER */

/* FOOTER */
    
    .blocoUm{
    
        display: none;
    
    }
    
    .blocoDois{
        height: 100%;
    }
    
    .instagram{
    
        width: 40%;
    }
    
    .logo{
    
        width: 50%;
        margin-bottom: 3%;
    }
    
    .inscricao{
    
        width: 80%;
        margin-top:8%;
    }
    
    .boxInform{
    
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 5%;
    }
    
    .textoInform{
    
        width: 90%;
        margin-bottom: 8%;
        padding: 2%;
    }

/* FOOTER */

/* MAIN */

    .receitas{

        width: 80%;
    }
    
    .visitarReceitas{
    
        width: 100%;
        display: flex;
        justify-content: flex-end;
        margin-right: 4%;
        margin-bottom: 4%;
    
    }
    
    .fraseScook{
    
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .fraseInscricao{
    
        margin-bottom: 3%;
    }
    
    .ultimasMat{
    
        width: 80%;
        display: flex;
        flex-direction: column;
    }
    
    .materias{
    
            display: flex;
            flex-direction: column;
    }
    
    .materiaBox{
    
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 10%;
    }

    /* MAIN */
    
    }
    