body{
    margin: 0;
    padding: 0;
}

/* Explicando o body:

- Tirou-se todas as margens e paddings; */

.container{
    width: 100%;
    height: 100vh;
    display: flex;
}

/*
- Definimos espaço e a altura da div;
*/


/* >>> AQUI COMEÇA A PRIMEIRA COLUNA >>> */



.container-left {
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* 
- Criou-se um container para a primeira coluna do nosso GRID;
- Ocupa 100% do espaço da coluna e toda a sua altura;
- Delimitamos a coluna que usaremos;
- Usamos o padrão flex dentro do container para posicionarmos os itens;
- Definimos a fonte padrão.*/

.container-left h1, h3{
    color: #B26ABC;
}

.container-left h1{
    font-size: 40px;
}


/* >>> AQUI COMEÇA A SEGUNDA COLUNA >>> */

.container-right {
    display: flex;
    width: 70%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #369FFF; 
    color: white;
}

/* 
- Criou-se um container para a segunda coluna do nosso GRID;
- Ocupa 100% do espaço da coluna e toda a sua altura;
- Delimitamos a coluna que usaremos;
- Usamos o padrão flex dentro do container para posicionarmos os itens;
- Definimos a fonte padrão;
- Definimos a cor do texto.*/

.container-right img{
    height: 15%;
}

/*Definimos o tamanho da logo Scook no container*/

.form{
    padding: 6%;
    width: 70%;
}

/*Definimos o espaçamento interno da class que contem o formulário*/

.wid-input{
    width: 100%;
    background-color: white;
    padding: 2%;
    margin: 3% 0;
    display: block;
    border-radius: 30px;
}

/* 
- Definimos a largura da barra de texto;
- Colocamos uma margem;
*/

.wid-input input{
    font-size: 15px;
    width: 100%;
    border: none;
    outline: none;
}

/*
- Definimos o tamanho da fonte dentro dos inputs;
- Cada input ocupará 95% da largura em relação a largura que definimos da class anterior;
- Tiramos as bordas e decorações padrões do HTML;
*/

.form a{
    color: white;
    display: flex;
    justify-content: center;
    margin: 5% 0;
    text-decoration: none;
}

/*
- Essa é a estilização do "Esqueceu a senha?" que aparece na tela;
- Definimos a cor, colocamos a margem e tiramos a estilização padrão.
*/

.form a:hover{
    text-decoration: underline;
}

/* Colocamos uma interação ao passar o mouse no link*/

.btn{
    display: flex;
    justify-content: center;
}

/*Definimos o posicionamento dos botões*/

.btn button{
    font-size: 15px;
    padding: 2% 3%;
    border: none;
    cursor: pointer;
    background-color: #B26ABC;
    color: white;
    border-radius: 20px;
    font-weight: bold;
}

/*Estilizamos os botões*/

.btn button:hover{
    background-color: #834e8a;
}

/* Colocamos uma interação ao passar o mouse no botão. */

@media screen and (max-width: 500px) {

    .container{

        display: grid;
        grid-template-rows: 0.5fr 2fr;
        grid-template-columns: 1fr 1fr;
        width: 100%;
        height: 100vh;

    }

    .container-left{

        width: 100%;
        grid-column: 1/3;
        grid-row: 1/2;
        height: 100%;
    }

    .container-right{
        height: 100%;
        width: 100%;
        grid-row: 2/3;      
        grid-column: 1/3;

    }

    .form{

        width: 80%;
    }

    .logo{

        width: 50%;
    }

    .btn{

        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

    }

    .butao{

        width: 70%;
        display: flex;
        align-items: center;
        justify-content: center;

    }
}

